
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;1,400&display=swap');
body{
    font-family: 'IBM Plex Sans', sans-serif;
}

.main{
    padding: 30px 30px;
    border: 1px solid;
    font-weight: bolder;
}
.section{
    border: 1px solid;
    font-weight: bolder;
    font-size: 15px;

}
.gst{
    padding: 10px 0px 0px 10px;
    margin: 0;
}
.sec-1{
  
    display: flex;
    justify-content: space-between;
}
.fonts{
    font-family: 'Edu SA Beginner', cursive;
    padding: 10px 10px 0px 0px;
    margin: 0;
}
.tax{
    margin-right: 170px;
    padding: 25px 0px 0px 7px;
    border-bottom: 2px solid;
}
body {
    background: rgb(204,204,204); 
  }
  page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  }
  page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
  }
  .image{
    padding: 10px 0px 0px 10px;
    width: 107px;
    height: 100px;
  }
  .taxx{
    padding: 0px 41px 0px 100px;
   
  }
  .header{
    font-size: 32px;

    padding-left: 25px;
}
  .para1{
    margin: 0;
    padding-left: 0px;
    font-size: 18px;
  }
  .pincode{
    padding-left: 28px;

  }
  .pan{
    padding-left: 180px;
    font-size: 17px;
  }
  .para1 span{
    padding-left: 33px;
    font-size: 17px;
  }
  .tel{
    margin: 0;
    font-style: italic;

  }
  .section2{
    display: flex;
    justify-content: space-between;
  }
  .sec-2{
    margin-top: 15px;
    width: 100%;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  .div-1{
    width: 50%;
    border-right: 1px solid;

  }
  #para-2{
    margin: 0;
    padding: 10px;
    font-size: 14px;
  }
  .div-2{
    width: 50%;
  }
  .bill{
    font-style: italic;
    font-size: initial;

  }

  table, th, td {

    border-collapse: collapse;
  }
  
.row3{
  height: 180px;

}



tbody{

  border: 1px solid;
  border-collapse: collapse;

}
.column-bordered-table thead th {
  border-left: 1px solid;
  border-right: 1px solid ;
}

.column-bordered-table td {
  border-left: 1px solid ;
  border-right: 1px solid ;
}

.column-bordered-table{
  font-size: 13px;
}
thead tr{
  border-top: 1px solid;

}
.total{
  display: flex;
    justify-content: space-between
}
.date{
  padding: 5px 20px 0px 15px;
    border: 1px solid;
    font-size: 13px;
}
.grand{
    padding: 5px 0px 0px 195px;
    font-size: 13px;
}
.hsn p{
  font-size: 13px;
}
.span2{
  font-size: 16px;
  font-weight: bold;
}.hsn{
  border-bottom: 1px solid;
  padding-left: 10px;
}
.baa{
  display: flex;
  border-bottom: 1px solid;
}
.bank{
  padding-left: 10px;
}
.ifsc{
  
  padding-left: 40px;

}
.lastsec{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.lastsec1{
  font-size: 12px;
  width: 40%;
}
.lastsec1 span{
  font-size: 13px;
}
.lastsec1 p{
  
  margin: 0;
  padding: 10px;

}
.scanner{
  height: 120px;
  width: 120px;

     border-right: 1px solid;
    border-left: 1px solid;
}
.sca1{
  width: 30%;
}
.sca2{
  width: 30%;
}
.sign{
  
  height: 60px;
  width: 130px;

}
.Mainpart{
  display: flex;
  justify-content: space-between;

}
.indate{
  display: flex;

}
.indate2{
  padding-left: 25px;
}
.section-1{
  width: 40%;
  background: #fefeff;
} 
form input{
  border: none;
  outline: none;
  background: rgb(220, 220, 220);
  
 padding: 10px;

}
 ::placeholder{
  color: black;
}
.no{
  display: flex;
}
.ebill{
  padding-left: 25px;
}
.add{
  padding: 15px 0px 0px 0px;
}
form{
  padding: 40px;
}
#shipping{
  width: 370px;

}
.sbtn{
  padding-top: 20px;
}
.btn1{
background: blueviolet;
  color: white;
  border-radius: 25px;
  padding: 8px 10px;

}
#btn1:hover{
  background-color: black ;
}
.qty1{
  display: flex;

}
.qty input{
  
  width: 80px;

}
.price{
  
  padding-left: 70px;

}
.des,.qty{
  padding-top: 20px;
}
.cmg{
  display: flex;

  padding-top: 15px;
}
.citydiv{
  
  padding-left: 28px;

}
.divgst{
  
  padding: 10px 0px 0px 0px;

}
.tab{
  padding-top: 25px;
}
#hssn{
  width: 110px;
}
.bale{
  padding-left: 40px;
}
.qt{
  padding-left: 45px;


}
.pri{
  display: flex;
  padding: 15px 0px 0px 0px;
}
.rad{
  font-size: 12px;
display: flex;
padding-top: 15px;

}
#tamil,#others{
  width: 15px;
}
.t{
  display: flex;
  align-items: center;
}

       .hidden { display:none; }
    
       
       .row { margin: 1em 0; }
       #yes{
        width: 15px;
        font-size: 12px;
        display: flex;
        padding-top: 15px;
       }
       .in{
        display: flex
       }
      .in1,.in2{
        display: flex;
      }
   
      .btn{
        padding: 20px 0px 0px 0px;
      }
     